:root {
  --color1: #654f88;
  --color2: #34262a;
  --color3: #8fbc8f;
  --color4: #513e6f;
  --color5: #c3c4b4;
  --accent_color1: #f0fff0;
  --accent_color2: #8c6959;
}
@font-face {
  font-family: "BadScript";
  src: url("./fonts/BadScript-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mooli";
  src: url("./fonts/Mooli-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */
body {
  margin: 0;
  padding: 0;
  background-color: var(--accent_color1);
}

header {
  padding: 20px;
}

.container {
  padding: 20px;
}

footer {
  padding: 20px;
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mooli";
}

.logo {
  font-family: "BadScript";
  font-size: 14px;
  font-weight: 600;
  color: var(--color4);
}

.logo_sign {
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
.logo_sign:hover {
  color: var(--color3);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-right: 50px;
}

.nav-item {
  display: inline-block;
  margin-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav-item :first-child {
  margin-left: 0;
}
.nav-item :not(:last-child) {
  border-right: 1px solid black;
  padding-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--color4);
  font-weight: bold;
  transition: color 250ms ease-in-out;
}
.nav-link:hover {
  color: #8fbc8f;
}

.mobile-menu {
  display: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  /* padding-top: 60px; */
}

.modal-content {
  height: 90vh;
  overflow: hidden;
  background-color: var(--accent_color1);
  margin: 5% auto;
  padding: 20px;
  border: 1px solid var(--accent_color2);
  width: 70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.burger-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.burger-list {
  display: flex;
  flex-direction: column;
}
.burger-item {
  color: var(--color2);
  border-color: transparent;
  list-style: none;
  margin-bottom: 12px;
  font-family: "Mooli";
  font-size: 18px;
  font-weight: 600;
}

.burger-link {
  cursor: pointer;
  text-decoration: none;
}
.burger-link:hover {
  color: var(--color3);
}

.my-technologies {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 12px;
  font-size: 8px;
  border: 1px dashed var(--color3);
}
.can_use {
  color: var(--color4);
  white-space: pre;
  font-weight: bold;
}

.about {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Mooli";
  font-size: 14px;
}
.about_title {
  display: flex;
  justify-content: center;
  color: var(--color1);
  font-size: 26px;
}
.my_info {
  flex-direction: column;
}
.my_photo {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100px;
  border: 2px solid var(--color3);
  border-radius: 50%;
}

footer {
  color: var(--color2);
  width: 100%;
}
footer::before {
  content: " ";
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-left: 40px;
  height: 1px;

  background-color: var(--color3);
}
.link_title {
  font-family: "Mooli";
  font-size: 10px;
  font-weight: 600;
}
.contacts {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 10px;
  list-style: none;
  align-items: center;
}
.link {
  color: var(--color2);
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
.link:hover {
  color: var(--accent_color2);
}
.icon {
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  fill: #0096ff;
  transition: fill 250ms ease-in-out;
}
.icon:hover {
  fill: grey;
}

/* projects */
.project {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  font-family: "Mooli";
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  cursor: pointer;
}
.card {
  background: linear-gradient(
    90deg,
    rgba(143, 188, 143, 1) 37%,
    rgba(240, 255, 240, 0.8577556022408963) 100%
  );
  padding: 12px;

  border: 1px solid var(--color3);
  border-radius: 8px;

  transition: scale 250ms ease-in-out;
}
.card:hover {
  scale: 1.1;
}
.card_overlay {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  font-family: "Mooli";
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  color: var(--color2);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.card:hover .card_overlay {
  display: flex;
  transform: translateY(0);
}
.overlay_text {
  padding: 0;
  margin: 0;
  font-family: "Mooli";
  font-size: 14px;
  font-weight: 400;
}
.overlay_button {
  padding: 12px;
  cursor: pointer;
  background-color: var(--color3);
  border-radius: 2px;
  border: 1px solid var(--color3);
}
.overlay_button:hover {
  background-color: var(--accent_color1);
  color: var(--color1);
}

.project_img {
  border: 1px solid var(--accent_color1);
  border-radius: 2px;
  width: 300px;
  height: 150px;
}
.project_title {
  text-decoration: none;
  color: var(--color2);
}
@media (max-width: 379px) {
  header,
  footer {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }
  .nav-list {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header,
  footer {
    padding: 15px;
  }

  .container {
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  header,
  footer {
    padding: 20px;
  }

  .container {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  header,
  footer {
    padding: 30px;
  }

  .container {
    padding: 30px;
  }
  .my_photo {
    width: 420px;
  }
}
