:root {
  --color1: #654f88;
  --color2: #34262a;
  --color3: #8fbc8f;
  --color4: #513e6f;
  --color5: #c3c4b4;
  --accent_color1: #f0fff0;
  --accent_color2: #8c6959;
}
@font-face {
  font-family: "BadScript";
  src: url("./fonts/BadScript-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mooli";
  src: url("./fonts/Mooli-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--accent_color1);
  /* background: linear-gradient(
    90deg,
    rgba(143, 188, 143, 1) 37%,
    rgba(240, 255, 240, 0.8577556022408963) 100%
  ); */
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mooli";
  /* background-color: #f0f0f0; */
  padding: 10px 20px;
}

.logo {
  font-family: "BadScript";
  font-size: 24px;
  font-weight: 600;
  color: var(--color4);
}
.logo:hover {
  color: #8fbc8f;
}
.logo_sign {
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

nav ul li:first-child {
  margin-left: 0;
}
nav ul li:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--color4);
  font-weight: bold;
}
nav ul li a:hover {
  color: #8fbc8f;
}

main {
  padding: 20px;
}

#circles {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.about {
  display: flex;
  align-items: center;
  margin: 16px 150px;
  gap: 32px;
  font-family: "Mooli";
  font-weight: 400;
  font-size: 18px;
}
.about_title {
  color: var(--color1);
  font-size: 56px;
}
.my_info {
  flex-direction: column;
}
.my_photo {
  max-width: 420px;
  border: 2px solid var(--color3);
  border-radius: 50%;
}

.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid var(--accent_color2);
  display: flex;
  align-items: center;
  /* justify-content: center; */

  background: linear-gradient(
    90deg,
    rgba(143, 188, 143, 1) 37%,
    rgba(240, 255, 240, 0.8577556022408963) 100%
  );
}
.circle:hover {
  background: var(--color1);
  color: var(--accent_color1);
}

.circle a {
  padding: 30px;
  color: var(--color2);
  font-weight: 600;
  text-decoration: none;
}
.circle a:hover {
  color: var(--accent_color1);
}

footer {
  color: var(--color2);
  padding: 20px;
}
footer::before {
  content: " ";
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-left: 40px;
  height: 1px;

  background-color: var(--color3);
}
.link_title {
  font-family: "Mooli";
  font-size: 18px;
  font-weight: 700;
}
.contacts {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.link {
  color: var(--color2);
  text-decoration: none;
}
.link:hover {
  color: var(--accent_color2);
}
.icon {
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  fill: #0096ff;
}
.icon:hover {
  fill: grey;
}
/* projects */
.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Mooli";
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  cursor: pointer;
}
.project_img {
  width: 300px;
  height: 200px;
}
