:root {
  --color1: #654f88;
  --color2: #34262a;
  --color3: #8fbc8f;
  --color4: #513e6f;
  --color5: #c3c4b4;
  --accent_color1: #f0fff0;
  --accent_color2: #8c6959;
}
@font-face {
  font-family: "BadScript";
  src: url("./fonts/BadScript-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mooli";
  src: url("./fonts/Mooli-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--accent_color1);
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mooli";
  padding: 10px 20px;
}
/* section { */
/* width: 100%;
  height: 100%; */
/* overflow: hidden; */
/* padding: 30px 50px; */
/* } */
.logo {
  font-family: "BadScript";
  font-size: 24px;
  font-weight: 600;
  color: var(--color4);
}

.logo_sign {
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
.logo_sign:hover {
  color: var(--color3);
}

nav ul {
  list-style: none;
  padding: 0;
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

nav ul li:first-child {
  margin-left: 0;
}
nav ul li:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--color4);
  font-weight: bold;
  transition: color 250ms ease-in-out;
}
nav ul li a:hover {
  color: #8fbc8f;
}

.hamburger-menu {
  display: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  /* padding-top: 60px; */
}

.modal-content {
  /* width: 100%; */
  height: 90vh;
  overflow-x: hidden;
  background-color: var(--accent_color1);
  margin: 5% auto;
  padding: 20px;
  border: 1px solid var(--accent_color2);
  width: 70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.burger_nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.burger_list {
  display: flex;
  flex-direction: column;
}
.burger_item {
  color: var(--color2);
  border-color: transparent;
}

/* .hamburger-icon {
  font-size: 24px;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
/* main {
  padding: 20px;
} */
.my_technologies {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 12px;
  border: 1px dashed var(--color3);
}
.technologies {
  font-weight: 100;
  font-size: 16px;
  color: var(--color2);
}
.can_use {
  color: var(--color4);
  white-space: pre;
  font-weight: bold;
}
/* #circles {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
} */
.about {
  display: flex;
  align-items: flex-start;
  width: 100vh;
  height: 100%;
  padding: 20px 20px;
  gap: 32px;
  font-family: "Mooli";
  font-weight: 400;
  font-size: 18px;
}
.about_title {
  color: var(--color1);
  font-size: 56px;
}
.my_info {
  flex-direction: column;
}
.my_photo {
  max-width: 420px;
  border: 2px solid var(--color3);
  border-radius: 50%;
}

/* .circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid var(--accent_color2);
  display: flex;
  align-items: center;
  transition: background-color 250ms ease-in-out;

  background: linear-gradient(
    90deg,
    rgba(143, 188, 143, 1) 37%,
    rgba(240, 255, 240, 0.8577556022408963) 100%
  );
}
.circle:hover {
  background: var(--color1);
  color: var(--accent_color1);
}

.circle a {
  padding: 30px;
  color: var(--color2);
  font-weight: 600;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
.circle a:hover {
  color: var(--accent_color1);
} */

footer {
  color: var(--color2);
  padding: 20px;
}
footer::before {
  content: " ";
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-left: 40px;
  height: 1px;

  background-color: var(--color3);
}
.link_title {
  font-family: "Mooli";
  font-size: 18px;
  font-weight: 700;
}
.contacts {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.link {
  color: var(--color2);
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
.link:hover {
  color: var(--accent_color2);
}
.icon {
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  fill: #0096ff;
  transition: fill 250ms ease-in-out;
}
.icon:hover {
  fill: grey;
}
/* projects */
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-around;
  align-items: center;
  font-family: "Mooli";
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  cursor: pointer;
}
.project_card {
  background: linear-gradient(
    90deg,
    rgba(143, 188, 143, 1) 37%,
    rgba(240, 255, 240, 0.8577556022408963) 100%
  );
  padding: 12px;

  border: 1px solid var(--color3);
  border-radius: 8px;
  transition: scale 250ms ease-in-out;
}
.project_card:hover {
  scale: 1.1;
}
.project_img {
  border: 1px solid var(--accent_color1);
  border-radius: 2px;
  width: 300px;
  height: 150px;
}
.project_title {
  text-decoration: none;
  color: var(--color2);
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  nav ul {
    display: none;
  }

  nav ul.show {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  .logo {
    font-size: 14px;
  }
  section {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjust width for smaller screens */
    height: auto; /* Allow content to dictate height */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  .my_photo {
    max-width: 100px;
  }
  body {
    font-size: 14px;
  }
  .about_title {
    font-size: 24px;
  }
  .hamburger-icon {
    font-size: 24px;
    cursor: pointer;
  }
}
